@import "~bootstrap/scss/bootstrap" ;


body {
    background-color: white;
}

.title {
    text-align: center;
}

.tab-name {
    text-align: center;
}

.tab-content {
    text-align: center;
}

.btn {
    background: #C9C9C9;
}

h2 {
    text-decoration: underline;
}
